h1 {
  font-family: "Nerko One", cursive;
}
.container {
  width: 80%;
  height: 85vh;
  margin: 70px auto;
}
.formik {
  text-align: center;
}
.error {
  color: red;
}
input {
  padding: 8px;
  border-radius: 5px;
  margin-left: 10px;
  margin-bottom: 1px;
}
